---
layout: page
---
<section class="posts">
    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <h1><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></h1>

            <p class="meta small">
                <i class="fa fa-calendar"></i>
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}Enero
                {% when '2' %}Febrero
                {% when '3' %}Marzo
                {% when '4' %}Abril
                {% when '5' %}Mayo
                {% when '6' %}Junio
                {% when '7' %}Julio
                {% when '8' %}Agosto
                {% when '9' %}Septiembre
                {% when '10' %}Octubre
                {% when '11' %}Noviembre
                {% when '12' %}Diciembre
                {% endcase %}
                {{ post.date | date: "%Y" }}

                {% if post.meta %} • {{ post.meta }}{% endif %} •
                <a href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site.url }}{{ post.url }}&via=qvapro&related=qvapro"
                   rel="nofollow" target="_blank" title="Comparte en Twitter"><i class="fa fa-twitter-square"></i> Twitter</a>
                •
                <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank"
                   title="Comparte en Facebook"><i class="fa fa-facebook-square"></i> Facebook</a> •
                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ post.url }}&title={{ post.title }}&summary={{post.excerpt| strip_html}}&source=blog.qvapro.com"
                   rel="nofollow" target="_blank" title="Comparte en LinkedIn"><i class="fa fa-linkedin-square"></i>
                    LinkedIn</a>
            </p>
        </header>
        {% include widgets/adsense-mobile.html %}
        <article class="post-content">
            {{ post.content }}
        </article>
        <aside>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="meta small">Comparte:
                    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ post.url }}&via=qvapro&related=qvapro"
                       rel="nofollow" target="_blank" title="Comparte en Twitter"><i class="fa fa-twitter-square"></i>
                        Twitter</a>
                    •
                    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url }}" rel="nofollow"
                       target="_blank"
                       title="Comparte en Facebook" ><i class="fa fa-facebook-square"></i> Facebook</a> •
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ post.url }}&title={{ post.title }}&summary={{post.excerpt| strip_html}}&source=blog.qvapro.com"
                       rel="nofollow" target="_blank" title="Comparte en LinkedIn"><i class="fa fa-linkedin-square"></i>
                        LinkedIn</a>

                        |
                        <a href="{{post.url}}#disqus_thread"><i class="fa fa-comment"></i> Comentarios</i>
                        </a>
                    </p>
                </div>
            </div>
        </aside>
    </article>
    {% endfor %}
</section>
<section>
    <nav>
        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="previous"><a
                    href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}"><span
                    aria-hidden="true">&larr;</span>P&aacute;gina
                anterior</a></li>
            {% else %}
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span>P&aacute;gina anterior</a>
            </li>
            {% endif %}
            {% if paginator.next_page %}
            <li class="next"><a href="{{ paginator.next_page_path }}">P&aacute;gina siguiente<span
                    aria-hidden="true">&rarr;</span></a></li>
            {% else %}
            <li class="next disabled"><a href="#">P&aacute;gina siguiente<span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
    </nav>
</section>