<footer>
    <div class="container ">
        <div class="row">
            <div class="col-md-8 hidden-xs hidden-sm">
                <p class="text-muted small">Blog QVAPRO | Red de Profesionales de Cuba</p>
            </div>
            <div class="col-md-4">
                <ul class="pull-right list-inline social">
                    {% for slink in site.data.social_links %}
                        <li><a href="{{ slink.link }}" ><i class="fa fa-{{ slink.type }}"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
{% include ga.html %}
