body, .label {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}
h1, h2, h3, h4, h5, .navbar-nav > li > a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
}
html {
    position: relative;
    min-height: 100%;
    body {
        margin-bottom: 60px;
        > .container{

            padding: 60px 15px 60px 15px;
        }
    }
}
.tags{
    visibility: hidden;
}
.navbar-default {
    background-color: rgba(255, 255, 255, .97);
    border: none;
    > .container {
        border-bottom: 1px solid #CCC;
    }
    .navbar-brand {
        padding-left: 18px;
        margin-top: -4px;
        &, &:hover, &:focus {
            color: $color-secondary;
            .small {
                color: $color-secondary;
            }
        }
    }
    h1.subtitle{
        font-size: 24px;
        line-height: 26px;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-left: -10px;
        text-transform: uppercase;
    }
    .navbar-nav {
        > li > a {
            text-transform: uppercase;
            color: #666;
            &:focus, &:hover {
                color: $color-secondary-lt;
                background-color: transparent;
                border-bottom: 2px solid $color-secondary-lt;
                margin-bottom: -2px;
            }
        }
        > .active > a {
            &, &:focus, &:hover {
                color: $color-secondary;
                background-color: transparent;
                border-bottom: 2px solid $color-secondary;
                margin-bottom: -2px;
                .icon {
                    color: $color-secondary;
                }
            }
        }
    }
}
a{
    color:$color-primary-lt;
}
