body{
  color:#333
}
a {
  &:hover, &:focus {
    text-decoration: none;
    color: darken($color-secondary, 10);
  }
}
article > header > h1{
  color:$color-secondary;
}
article > aside {
  border-top: 1px dashed rgb(230, 230, 230);
  padding-top: 8px;
  margin-top: 8px;
  > div {
    &:first-child {
      padding-left:0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.sidebar {
  margin-top:24px;
  visibility: visible;
  color: $color-primary;
  .widget{
    margin-right: -15px;
    padding: 15px;
    background-color: rgb(250,250,250);
    border-bottom: 3px solid $color-primary-lt;

    h1{
      background-color: $color-secondary-lt;
      margin: -15px -15px 15px -15px;
      padding: 8px 15px;
      font-size: 1.2em;
      color: $color-primary;
      text-transform: uppercase;
    }
    h2{
      font-size: 1.4em;
    }
    h3{
      font-size: 1.2em;
    }
    &.site-description{
      background-color: $color-primary;
      padding: 30px 30px 15px 30px;
      color: #FFF;
      border-top: 4px solid $color-secondary-lt;
      p.lead{
        font-size: 1.2em;
      }
    }
    &.current-job {
      .company-logo {
        background-color: #FFF;
        width: 90px;
        height: 90px;
        padding: 5px;
        margin-bottom: -15px;
        margin-top: 15px;
      }


    }
    &:last-child{
      border-bottom-width: 10px;
      border-bottom-color: $color-primary;
    }
  }
}

.tags {
    visibility: visible;
  .label-default {
    line-height: 24px;
    padding-right: 10px;
    background-color: rgb(250,250,250);
    color:#CCC;
    &:hover {
      cursor:pointer;
      color: $color-primary-lt;
    }
  }
}
.meta {
  color:#666;
  a {
    color:$color-primary-lt;
    &:hover, &:focus {
      color:$color-primary-lt;
    }
  }
}

body > footer {
  visibility: visible;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  > .container {
    padding-top:18px;
    color:#CCC;
    border-top: 2px solid #CCC;
  }
}
.social {
  margin-top: -5px;
  li {
    a {
      color: $color-primary-lt;
      font-size: 24px;
      padding-left: 15px;
      &:hover, &:focus {
        color: $color-primary;
        i.icon {
          &.icon-rss {
            color: #d58512
          }
          &.icon-skype, &.icon-twitter {
            color: rgb(0, 170, 231);
          }
          &.icon-facebook {
            color: rgb(72, 90, 155);
          }
          &.icon-linkedin {
            color: rgb(10, 96, 157);
          }
        }
      }

    }
  }
}
