<div class="row visible-xs hidden-sm hidden-lg hidden-md hidden-print">
    <div class="col-sm-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- mobile -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2907625686350219"
             data-ad-slot="6753235884"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
