<div class="widget site-description">
    <div class="row">
        <div class="col-xs-12">
            <p class="lead">
                QvaPro ofrece empleos a la comunidad profesional cubana. Pretendemos ser el primer punto de
                encuentro entre el mejor capital cubano y empresas o negocios emergentes.
            </p>
        </div>
    </div>
</div>
<div class="widget">
    <h1>¿Quiénes somos?</h1>
    <p>
        Estamos conformados por un equipo joven y ofrecemos a nuestros clientes y candidatos una experiencia
        cercana, profesional y dedicada a la satisfacción de sus necesidades.
    </p>

</div>

